services:
  web:
    build: .
    container_name: rust_blog
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./:/workspace/rust_blog
    tty: true
    ports:
      - "8888:8888"
    environment:
      - DATABASE_URL=sqlite://./blog.db?mode=rwc
      - ROCKET_ENV=development
    
