{% extends "partial/base" %}
{% import "partial/tags" as tags_macro %}
{% import "partial/categories" as categories_macro%}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="columns">
  <div class="column is-8">
    <article class="article-page" aria-labelledby="post-title">
      {% include "partial/article_header" %}
      <div class="content is-medium">
        {{ content_html | safe }}
      </div>
      <hr>
      {{ categories_macro::input(items=categories) }}
      {{ tags_macro::input(items=tags) }}
      <hr>
      <nav class="level">
        <div class="level-left">
          <a class="button is-light" href="/">← 一覧へ</a>
        </div>
      </nav>
    </article>
  </div>
  {% include "partial/sidemenu" %}
</div>
{% endblock content %}
