{% extends "partial/base" %}
{% import "partial/tags" as tags_macro %}
{% import "partial/categories" as categories_macro%}

{% block title %}Tag: #{{ tag_slug }}{% endblock title %}

{% block content %}
<h1 class="title">Tag: #{{ tag_slug }}</h1>

{% if articles and articles | length > 0 %}
  <div class="mb-4">
    並び順:
    <a href="{{ sort_created_url | default(value='?sort_key=created_at') }}" class="mr-2">
      作成日順
    </a>
    <a href="{{ sort_updated_url | default(value='?sort_key=updated_at') }}" class="mr-2">
      更新日順
    </a>
  </div>
  <div class="article-list">
    {% for article in articles %}
    {% include "partial/article_card" %}
    {% endfor %}
  </div>
{% else %}
  <p class="has-text-grey">このタグには記事がありません。</p>
{% endif %}
{% include "partial/page" %}
{% endblock content %}
